body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    
}

.head-container {
    width: 375px;
    padding: 10px 0;
    margin: 0 auto;
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: space-between;

}
.oldagram-logo {
    margin: 0;
    padding: 0;
}

.main-container {
    width: 375px;
    height: 580px;
    margin: 0 auto;
    
}

.user-profile {
    margin-right: 7px;
    float: left;
}

.user-profile, .prakash-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

p {
    width: 307px;
    height: 16px;
    font-weight: 700;
}

span {
    width: 307px;
    height: 16px;
    font-weight: 400;
}

.user-location{
    display: block;
}

.hero-img {
    margin-top: 13px;
    width: 375px;
    height: 375px;
}

.icons{
    margin: 10px;
}
.oldagram-icon {
    width: 30px;
    height: 30px;
}

.bottom-container {
    margin-top: 0px;
}
    



